@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    @apply text-base;
    line-height: 1.6;
  }
}

@layer utilities {
  .delay-1000 {
    animation-delay: 1000ms;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white border-none;
    @apply bg-blue-600 hover:bg-blue-700 text-white border-none px-6 py-3;
  }

  .btn-error {
    @apply bg-red-600 hover:bg-red-700 text-white border-none px-6 py-3;
  }

  .btn-ghost {
    @apply px-6 py-3;
  }

  .btn-ghost:hover {
    @apply bg-base-300;
  }
}
